<%- include('head') %>

    <section id="hero">
        <img src="\cyber-security-illustration-concept-with-characters-data-security-protected-access-control-privacy-data-protection_269730-48.png"
            alt="" srcset="">
        <div class="text">
            <h1>Protecting Your Digital World</h1>
            <p>Innovative technologies to keep your data safe.</p>
            <button>Learn More</button>
        </div>
    </section>
    <h2 class="top2">We have successfully reached the count of <i>
            <%= count %>
        </i> members</h2>

    <%- include('footer') %>